@import "./Button.css";
@import "./Container.css";
@import "./Typography.css";

/* Open Sans - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body { 
    font-family: "Open Sans", serif;
    letter-spacing: 0.025em;
    @apply text-sm sm:text-base;
}


/* .layout {
    @apply bg-gray-100 dark:bg-gray-800 min-h-screen min-h-dvh;
} */


/* Removed `fall` animation and `.animate-fall` styles when dropping falling colored circles from layout */