@import "./Button.css";
@import "./Container.css";
@import "./Typography.css";

/* Open Sans - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body { 
    font-family: "Open Sans", serif;
    @apply text-sm sm:text-base;
}


/* .layout {
    @apply bg-gray-100 dark:bg-gray-800 min-h-screen min-h-dvh;
} */


@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 6s linear infinite;
}