---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import { links } from '@data/data';
import LinkComponent from '@components/LinkComponent.astro';
---

<Layout className='text-gray-900 dark:text-white'>

	<Header />

	<main class="flex flex-col gap-2 pb-20">
		{links.map((link) => (
			<section class="w-full max-w-[640px] mx-auto mt-4 rounded-lg">
				{ link.title ? <h2 class="text-3xl p-4 pb-0 mt-2 text-center font-bold">{link.title}</h2> : null }
				<ul class="flex flex-col gap-4 p-4">
					{link.items.map((item) => (
						<li>
							<LinkComponent href={item.href} image={item.image} title={item.title} />
						</li>
					))}
				</ul>
			</section>
		))}
	</main>

</Layout>
