---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import { tourDates } from '@data/tourDates.js';
---

<Layout className='text-gray-900 dark:text-white'>

	<Header />

	<main class="flex flex-col gap-2 pb-20">
		{tourDates.map((tour) => (
			<section class="w-full max-w-[640px] mx-auto mt-4 rounded-lg">
				<h2 class="text-3xl p-4 pb-0 mt-2 text-center font-bold">{tour.season}</h2>
				<ul class="flex flex-col gap-4 p-4">
					{tour.dates.map((item) => (
						<li class="relative transition-transform dark:bg-white dark:bg-opacity-5 flex flex-col p-4 rounded-lg bg-gray-900 shadow-md text-white">
                            <div class="grid grid-cols-3 items-center">
                                <span class="text-3xl font-bold text-yellow-400 text-center">{ item.date }</span>
                                <div class="flex flex-col text-center">
                                    <span class="text-base sm:text-lg">{ item.location }</span>  <!-- increased to text-lg -->
                                    <span class="text-lg sm:text-xl block break-words">{ item.venue }</span>  <!-- increased to text-xl -->
                                </div>
                                <a 
  									href={ item.href } 
  									target="_blank" 
  									class="text-pink-400 hover:text-white text-right font-bold text-base sm:text-lg md:text-xl"
									>
									{ item.hrefLabel }
									</a>

                            </div>
						</li>
					))}
				</ul>
			</section>
		))}
	</main>

</Layout>
