---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import { youFool } from '@data/youFool';
import LinkWithIconComponent from '@components/LinkWithIconComponent.astro';
---

<Layout className='text-gray-900 dark:text-white'>

    <Header />
    <div class="container max-w-[992px] mx-auto px-4 py-8 flex flex-col mb-8 gap-4">
        <img src="/images/you-fool-artwork-final.png" class="w-full max-w-[450px] mx-auto rounded-lg overflow-hidden" />
        <div class="flex flex-col sm:flex-row flex-wrap justify-center gap-4 w-full mt-5">

            {
                youFool.map((item) => (
                    <div class="flex flex-col gap-2 p-4 border border-gray-300 dark:border-gray-700 rounded-lg bg-white dark:bg-gray-800">
                        <LinkWithIconComponent title={item.title} href={item.href} hrefLabel={item.hrefLabel} />
                    </div>
                ))
            }

        </div>
    </div>

</Layout>
