---
interface Props { 
    title:string;
    href:string;
    hrefLabel:string;
}
const { title, href, hrefLabel } = Astro.props;

---
<h1 class="text-3xl font-bold mb-0">{ title }</h1>
<a href={ href } target="_blank" class="flex flex-row gap-2 underline underline-offset-4 hover:no-underline hover:text-blue-400">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path fill-rule="evenodd" d="M2 10a8 8 0 1 1 16 0 8 8 0 0 1-16 0Zm6.39-2.908a.75.75 0 0 1 .766.027l3.5 2.25a.75.75 0 0 1 0 1.262l-3.5 2.25A.75.75 0 0 1 8 12.25v-4.5a.75.75 0 0 1 .39-.658Z" clip-rule="evenodd" />
    </svg>
    <span>{ hrefLabel }</span>
</a>